/*definiendo variables para colores*/
:root{
    --negro:#000;
    --blanco:#fff;
    --transparente-claro:rgba(255, 255, 255, 0.459);
    --transparente-oscuro:rgba(0, 0, 0, 0.11);
    --rosado:#EDA5FF;
    --moraclaro:#CC00FF;
    --moradousuario:#CC01FF;/*boton de usuario*/
    --morapie:#531A87;
    --moraoscuro:#2C0351;/*barra*/
    --moradomezcla:#3f017a;/*home tiene un efecto mezcla */
    --moztarillo:#F3FE01;
    --morainicio-regitro:#602F92;
    --gris:#B0B0B0;
    --gris-transparente:#E3E3E350;
    --transparencia:#fafafa10;
    --tranparencia1:#e3e3e310;
    --transparencia2:#b0b0b010;

}
/*estilo de la plantilla 1*/
/*el contenedor general*/
.plantilla1-home-content{
width: 100%;
height: 0;
background-image: url(../img/Home1/home.png);
background-repeat: no-repeat;

display: flex;
}
.plantilla1-content-logo{
    display: flex;
    position: absolute;
    width: 100%;
    height: 31rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.plantilla1-content-logo img{
    width: 18rem;
    height: 18rem;
}
.plantilla1-content-trompeta {
display: flex;
}
.plantilla1-content-trompeta img{
    width: 15rem;
    height: 15rem;
}
.trompeta{
translate: 10rem 8rem;
}
.plantilla1-content-maracas{
    display: flex;
}
.plantilla1-content-maracas img{
    width: 15rem;
    height: 15rem;
}

.maraca1{
    translate:-5rem 15rem;
    transform: rotate(20dag);
}
.maraca2{
    translate: 5rem 15rem;
    transform: rotate(-20dag);
}
.plantilla1-content-redoblante img{
    width: 15rem;
    height: 15rem;
}


.plantilla1-content-matas img{
    width: 15rem;
    height: 15rem;
}