/*definiendo variables para colores*/
:root{
    --negro:#000;
    --blanco:#fff;
    --transparente-claro:rgba(255, 255, 255, 0.459);
    --transparente-oscuro:rgba(0, 0, 0, 0.11);
    --rosado:#EDA5FF;
    --moraclaro:#CC00FF;
    --moradousuario:#CC01FF;/*boton de usuario*/
    --morapie:#531A87;
    --moraoscuro:#2C0351;/*barra*/
    --moradomezcla:#3f017a;/*home tiene un efecto mezcla */
    --moztarillo:#F3FE01;
    --morainicio-regitro:#602F92;
    --gris:#B0B0B0;
    --gris-transparente:#E3E3E350;
    --transparencia:#fafafa10;
    --tranparencia1:#e3e3e310;
    --transparencia2:#b0b0b010;

}
@font-face {
    font-family:Bayon-Regular;
    src: url(../letras/Bayon-Regular.ttf);
}
@font-face {
    font-family:Amaranth-Regular;
    src: url(../letras/Amaranth-Regular.ttf);
}
@font-face {
    font-family:AAmaranth-Italic;
    src: url(../letras/Amaranth-Italic.ttf);
}
/*estilos de las pelotas y posicionamiento*/
.plantilla2-content-pelotas{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.pelotas-minusculas img{
    height: 2rem;
    width: 2rem;
}
.minuscula1{translate: 2rem 16rem;}
.minuscula2{translate: 75rem 2rem;}
.minuscula3{translate: 14rem 29rem;}
.minuscula4{translate: 44rem 28rem;}
.minuscula5{translate: 66rem 19rem;}

.pelotas-pequeñas img{
height: 4.5rem;
width: 4.5rem;
}
.pequeña1{translate: 50rem 24rem;}
.pequeña2{translate: 6rem 12rem;}

.pelotas-medianas img{
    height: 7rem;
    width: 7rem;
}
.mediana1{translate: 54rem 37rem;}
.mediana2{translate: 60rem 19rem;}

.pelotas-grandes img{
    height: 9rem;
    width: 9rem;
}
.grande1{translate: 24rem 12rem;}
.grande2{translate: -56rem -1rem;}

.pelotas-gigantes img{  
    height: 12rem;
    width: 12rem;}
.gigante1{translate: -65rem 33rem;}
.gigante2{translate: -20rem -2rem;}
/*estilos del confeti y posicionamiento*/
.plantilla2-content-confeti{
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: center;
}
.plantilla2-content-confeti img{
    width: 8rem;
    height: 8rem;
    opacity: 0.2;
}
.confeti1{
    translate: -8rem -3rem;
    transform: rotate(158.32deg);
}
.confeti2{
    translate: -17rem 14rem;
    transform: rotate(75deg);
}
.confeti3{
    translate: 9rem 10rem;
}
.confeti4{
    transform: rotate(55deg);
    translate: 0rem -2.5rem;
}
.confeti5{
    translate: -1rem 25rem;
}
.confeti6{
    translate: 9rem 11rem;
}
.confeti7{
    translate: 2rem 30rem;
    transform: rotate(45deg);
}
.confeti8{translate: 19rem ;
transform: rotate(-80deg);}
.confeti9{translate: 4rem 19rem;}

/*logo central*/
.plantilla2-content-logo{
    display: flex;
    position: absolute;
    width: 100%;
    height: 31rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.plantilla2-content-logo img{
    width: 18rem;
    height: 18rem;
}

/*estilo del contenido */
.plantilla2-description{
    display: flex;
    width: 100%;
    height: 31rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.plantilla2-encapsulado{
padding: 5rem 0 5rem 0;
background-size: cover;
display: flex;
align-items: center;
background-color: var(--blanco);
}

.plantilla2-encapsulado-centrado{
    width: 45rem;
    height: 20rem;
    border: 2px solid var(--transparencia2);
    margin: 0 auto;
margin: 0 23rem 0 23rem;
text-align: center;
justify-content: center;
background-color: var(--gris-transparente) ;
border-radius: 3rem;/*o 60px tambien se ve bien */
/*definiendo la sombra*/
box-shadow: 0rem 3rem 1rem var(--gris);
}
.cristal-content{
    background-color:var(--transparencia2);
    backdrop-filter: blur(0.4rem);

}
.plantilla2-content-espacio{
    padding: 20px;
}
.plantilla2-content-top{
    background-color: var(--moztarillo);
    border-radius: 28px;
    padding: 20px;
    margin: 0 4rem;
    box-shadow: 4px 5px var(--gris,30%);
    font-family: "Amaranth-Italic";
    color: var(--moraoscuro);
    font-size: 28px;
}
.plantilla2-content-mid{
    padding: 20px;
    font-family: "Bayon-Regula";
    color: var(--morapie);
    font-size:22px ;
}
.plantilla2-content-bot{
    padding: 20px;
    font-family: "Amaranth-Regular";
    font-size: 18px;
}
/* contenedor del resto del contenido */
.contenidos{
    margin-top: 20px;
}
.contenedor-contenidos{
display: grid;
grid-template-columns: 1fr;
gap: 5rem;

}
.contenedor-contenido{
    background: var(--blanco);
    padding: 40px;
    border: 2px solid transparent;
    border-radius: 10px;
    overflow: hidden;
    transition: .3s ease all ;
    cursor: pointer;
}
.contenedor-contenido:hover{
    box-shadow: var(--moztarillo);
}
.contenedor-contenido.activa{
    border: 2px solid var(--rosado);
}

/* para el interior del contenedor*/
.contenido{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:20px ;
    line-height: 20px;
    font-weight: 700;
}
/*cambiar el tamaño de la imagen*/
.contenido img{
/*width: 0;*/
}
.despliegue{
    line-height: 30px;
    color: var(--gris);
    max-height: 0;
    opacity: 0;
    transition: .3s ease all;
}
.contenedor-contenido.activa .despliegue{
    opacity: 1;
    margin-top: 20px;
    max-height: 100%;
} 
.contenedor-contenido.activa .contenido img{
    transform: rotate(180deg);
    opacity: 0.5;
    translate: 0 100%;
    
}

/*responsive*/
@media (min-width:1502.22px) {
    
}
@media (min-width:1690px){}
@media (min-width:1802.67px){}
@media (min-width:2028px){}

/*hacia abajo */
@media (max-width:1229.09px){}
@media (max-width:1081.60px){}
@media (max-width:901.33px){}
@media (max-width:772.57px){}