:root{
    --negro:#000;
    --blanco:#fff;
    --transparente-claro:rgba(255, 255, 255, 0.459);
    --transparente-oscuro:rgba(0, 0, 0, 0.11);
    --rosado:#EDA5FF;
    --moraclaro:#CC00FF;
    --moradousuario:#CC01FF;/*boton de usuario*/
    --morapie:#531A87;
    --moraoscuro:#2C0351;/*barra*/
    --moradomezcla:#3f017a;/*home tiene un efecto mezcla */
    --moztarillo:#F3FE01;
    --morainicio-regitro:#602F92;
    --gris:#B0B0B0;
    --gris-transparente:#E3E3E350;
    --transparencia:#fafafa10;
    --tranparencia1:#e3e3e310;
    --transparencia2:#b0b0b010;

}
.plantilla3{
    display: flex;
    height: 100%;
    width:100%;
    position: sticky;
}
.plantilla3-izq,
.plantilla3-derch{
    display: flex;
    width: 100%;

    justify-content: center;
    align-items: center;
}
.plantilla3-izq img{
    height:46%;
}
.plantilla3-izq .plantilla3-adornos{
    height: 12%;
    width: 8%;
}
.plantilla3-adornos{
    width: 30%;
    display: flex;
    position: absolute;
    z-index: -1;
}

.plantilla3-adornos-claros{
    opacity: 0.6;
}
.plantilla3-derch img{
    height:100%;
}
.plantilla3-imagen-superior{
    translate: 50px 10px;
}
.plantilla3-imagen-inferior{
    translate: -130px -50px;
    z-index: -1;
}
.plantilla3-confeti{
    position: absolute;
}
.plantilla3-izq .plantilla3-confeti{
    height: 35%;
}
.plantilla3-confeti-down{
    translate: -160px -320px;
    transform: rotate(171deg);
}
.plantilla3-confeti-up{
    translate: 30px 240px;
    rotate: 2deg;
}
/*pocision de los triangulos */
.plantilla3-izq .plantilla3-adorno2{
    height: 7%;
    width: 4%;
}
.plantilla3-izq .plantilla3-adorno5{
height: 7%;
width: 4%;
}
.plantilla3-adorno1{
translate: -340px -496px;
rotate: 245deg;
}
.plantilla3-adorno2{
translate: -99px -431px;

transform: rotate(-63deg);
}
.plantilla3-adorno3{
translate: 45px -651px;
}
.plantilla3-adorno4{
translate: 277px -415px;
rotate: -2.5deg;
}
.plantilla3-adorno5{
translate: 385px -12px;
rotate: 296deg;
}
.plantilla3-adorno6{
translate: 248px 172px;
}
.plantilla3-adorno7{
translate: -119px 563px;
rotate: 60deg;
}
.plantilla3-adorno8{
translate: -416px 326px;}
/*triangulos más claros */
.plantilla3-izq .plantilla3-adornoa,
.plantilla3-izq .plantilla3-adornoi,
.plantilla3-izq .plantilla3-adornoh,
.plantilla3-izq .plantilla3-adornog{
    height: 11%;
    width: 6%;
}
.plantilla3-izq .plantilla3-adornob,
.plantilla3-izq .plantilla3-adornoc{
    height: 9%;
    width: 5%;
}
.plantilla3-adornoa{
    translate: -307px -168px;

}
.plantilla3-adornob{
    translate: 90px -289px;
    rotate: -163deg;
}
.plantilla3-adornoc{
    rotate: -163deg;
    translate: 455px 430px;}
.plantilla3-adornod{
    translate: 500px -478px;
    rotate: 15deg;
}
.plantilla3-adornoe{
    translate: 980px -561px;
    rotate: -15deg;
}
.plantilla3-adornof{
    translate: 995px 523px;
    rotate: 33deg;}
.plantilla3-adornog{
    translate: -304px 584px;

}
.plantilla3-adornoh{
    translate: -114px 176px;
    rotate: 25deg;
}
.plantilla3-adornoi{
    translate: 100px 337px;
}
/* */
.plantilla3-derch .plantilla3-derch-inferior{
    position: absolute;
    z-index: -1;
    height: 75%;
    opacity: 0.5;
}