:root{
    --negro:#000;
    --blanco:#fff;
    --transparente-claro:rgba(255, 255, 255, 0.459);
    --transparente-oscuro:rgba(0, 0, 0, 0.11);
    --rosado:#EDA5FF;
    --moraclaro:#CC00FF;
    --moradousuario:#CC01FF;/*boton de usuario*/
    --morapie:#531A87;
    --moraoscuro:#2C0351;/*barra*/
    --moradomezcla:#3f017a;/*home tiene un efecto mezcla */
    --moztarillo:#F3FE01;
    --morainicio-regitro:#602F92;
    --gris:#B0B0B0;
    --gris-transparente:#E3E3E350;
    --transparencia:#fafafa10;
    --tranparencia1:#e3e3e310;
    --transparencia2:#b0b0b010;

}

/*estilos para el carusel 
de adentro hacia afuera*/
.plantilla6-link-image-progress-bar{
    display: block;
    height: 100%;
    object-fit: cover;
    width: 100%;
}
.plantilla6-link-image-progress{
    height: calc(100% + 14px);
    left: -7px;
    position: absolute;
    top: -7px;
    width: calc(100% + 14px);
}
.plantilla6-link-image{
    padding-bottom: 66.6667%;

    height: auto;

    overflow: hidden;
    position: relative;
}
.plantilla6-link{
    height: 100%;
    transform: scale(var(--gris-transparente,1));
    /*scale(var(--scale-ratio,1))*/
    transition: transform 80ms cubic-bezier(.35,0,0,1);
}
.plantilla6-image-links{
    background-color: #efefef;
    display: block;
    position: relative;
    transform: scale(1);
    transform-origin: center;
    transition: transform .4s cubic-bezier(0,.32,.32,1);
    width: 100%;
}
/*a, a:active, a:hover, a:visited {
    color: inherit;
    text-decoration: none;}*/

.plantilla6-slideshow-image-progress-bar{

    clip-path:inset(var(--transparencia2,0)) ;
    /*inset(var(--clip-ratio,0))*/
    display: block;
    height: 100%;
    margin-bottom: 16px;
    overflow: hidden;
    position: relative;
    transition: clip-path 80ms cubic-bezier(.35,0,0,1),-webkit-clip-path 80ms cubic-bezier(.35,0,0,1);
    width: 100%;
}
.plantilla6-slideshow-image-progress{
    font-family: var(--font-family--text-default,var(--fonts__family--text-default)),var(--font-family--text-fallback,var(--fonts__family--text-fallback));
    font-size: 12px;
    font-weight: 400;
    line-height: 1.6;
    overflow: hidden;
    position: relative;
    transform: translateY(0);
    transition: transform .8s cubic-bezier(0,.32,.32,1),opacity .8s cubic-bezier(.35,0,0,1);
    transition-delay: inherit;
}
@media (min-width: 650px){
    .plantilla6-slideshow-image-progress{
        font-size: 14px;
    }
}
.plantilla6-slideshow-image{
    --slideshow-image-width-ratio: 0.7501071581654523;
    --slideshow-image-scale-factor: 1;

    flex: 0 0 auto;
    margin-right: 12px;
    max-width: 100%;
    position: relative;
    width: calc(99.99%*var(--slideshow-image-scale-factor, 1)*var(--slideshow-image-width-ratio, 1));
}

.plantilla6-progress-bar{
    display: flex;
    margin-bottom: 36px;
    transition: transform .6s cubic-bezier(.35,0,0,1),height .6s cubic-bezier(.35,0,0,1);
    width: 100%;

    transform: translateX(-6695.39px);
}
@media (min-width: 650px){
    .image-slideshow__images{
        margin-bottom: 44px;
    }
}

/*estilo para las flechas de navegar*/
.plantilla6-slideshow-navegation{
    left: 0;
    position: absolute;
    top:368px;
    width: 100%;
    z-index: 1;
}
.plantilla6-slideshow-{
    fill: #fff;
    align-items: center;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    background-color: #000f1e66;
    border: 1px solid #fff3;
    border-radius: 50%;
    display: flex;
    height: 48px;
    justify-content: center;
    opacity: 0;
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    transition: opacity .4s cubic-bezier(.35,0,0,1),background-color .4s cubic-bezier(.35,0,0,1);
    width: 48px;
}
.plantilla6-slideshow-arrow-left{
    left: 0;
    margin-left: 12px;
}
@media (min-width: 1000px){
    .plantilla6-slideshow-arrow-left{
        margin-left: 32px;
    }
}
.plantilla6-slideshow-arrow-right{
    margin-right: 12px;
    right: 0;
}
@media (min-width: 1000px){
    .plantilla6-slideshow-arrow-right{
        margin-left: 32px;
    }
}

.plantilla6-slideshow-arrow-icon{
    height: 28px;
    transform: rotate(180deg);
    width: 28px;
}
.plantilla6-slideshow-arrow-left-icon{
    transform: rotate(0deg);
}
.plantilla6-slideshow-arrow-right-icon{}
/*general*/
.plantilla6-inline-image-gallery{
    opacity: 1;
    transform: translateX(0);
    transition: transform .8s cubic-bezier(.1,.65,.35,1),opacity .7s linear;
}
.plantilla6-inline-image{
    overflow: visible;
}
.plantilla6-inline{
    display: flex;
    flex-direction: column;
}
.plantilla6-modes{
    background: var(--tranparencia1,var(--negro,#00162b));
}
.plantilla6-content-panel-gallery-imagen{
    margin-left: 16px;
    padding: 16px 0;
    width: calc(99.99% - 32px);
}
@media (min-width: 650px){
    .plantilla6-content-panel-gallery-imagen{
        margin-left: 40px;
        width: calc(99.99% - 80px);
    } 
}
@media (min-width: 1000px){
    .plantilla6-content-panel-gallery-imagen{
        margin-left: 64px;
        width: calc(99.99% - 128px);
    } 
}
.plantilla6-content-panel-gallery{
    margin: 0 auto;
    max-width: 1600px;
}
.plantilla6-content-panel{
    background: var(--tranparencia1,var(--negro,#00162b));
}