/*definiendo variables para colores*/
:root{
    --negro:#000;
    --blanco:#fff;
    --transparente-claro:rgba(255, 255, 255, 0.911);
    --transparente-oscuro:rgba(0, 0, 0, 0.11);
    --rosado:#EDA5FF;
    --moraclaro:#CC00FF;
    --moradousuario:#CC01FF;/*boton de usuario*/
    --morapie:#531A87;
    --moraoscuro:#2C0351;/*barra*/
    --moradomezcla:#3f017a;/*home tiene un efecto mezcla */
    --moztarillo:#F3FE01;
    --morainicio-regitro:#602F92;
    --gris:#B0B0B0;
    --azul:#0279BB;
    }
/*estilos generales*/
body{
    background-color: var(--morainicio-regitro);
}
.main-content{
    display:  flex; 
    flex-direction:  row; 
    width:  auto; 
    height:  auto; 
    margin:  8rem 14.9rem; 
    background: var(--blanco); 
    border-radius: 9% ;
    box-shadow:  4rem 3rem 1rem -1rem var(--transparente-oscuro);

    justify-content: center;

}

label {
    font-size:  12.5px; 
    color: var(--negro);
    opacity:  .8;
    font-weight:  400; 
}
form {

    display:  flex; 
    flex-direction:  column;
    align-items:  flex-start; 
    padding-bottom:  20px; 


}
/*parte dieño de la parte izquierda*/
.main-content-left{
    width:  27.5rem; 
    height:  45rem; 
    min-height:  100%; 
    position:  relative;  

    background-image: url(../img/fondo3.png);
    background-repeat: no-repeat;
}
.left-botones{
    justify-content: center;
    text-align: justify;
    align-items: start;
    display: flex;

    flex-direction: column;
    margin-top: 18rem;
    
}

.left-botones a{
    margin: 0rem 19rem;
    margin-top: 1rem;
}
.left-boton{
    width: auto;
    min-width: 6.8rem;
    border-radius: 24px 0 0 24px;
    text-align: center;
    padding: 0.7rem 0rem;
    margin-top: 5px;
    background-color: var(--blanco);
    border: none;
    color: var(--negro);
    font-size: 16px;
    cursor: pointer;

}
.left-boton:hover{
    background-color: var(--rosado,30%);
    font-size: 18px;
    transition: 1s;
}
/*diseño de la parte derecha*/

.login{
    display:inline-grid;
    justify-content: center;
    text-align: center;
}
.login-logo{
    display: flex;

    width: auto;
    height: auto;
    margin: 3rem 5rem;
}
.login-logo-logo{
    height: 14rem;
}

.login-content{
    position:  relative; 
    margin-bottom:  1rem ;
    width:  100%; 
    margin-top: -4rem;
    label {
    position:  absolute; 
    top: calc(50% - 7px);
    left:  0; 
    opacity:  0; 
    transition:  all .3s ease; 
    padding-left:  44px; 
    }
    input {
    width:  calc(100% - 44px); 
    margin-left:  auto;
    display:  flex; 
    }
    .login-icon {
    position:  absolute; 
    top:  0; 
    left:  0; 
    height:  56px; 
    width:  44px; 
    display:  flex;
    }
}
.login-content input{
    border: none;
    border-bottom: 1px solid var(--gris);
    padding: 3px 2px;
    margin: 0 8rem;
}
.login-icon{
    display: flex;
    margin: -1.4rem;
    padding: 0px 7rem 0.3rem 8.7rem;
    color: var(--gris);
}
.login-boton{
    margin: 1rem 4rem;
    display: flex;
    justify-content: center;

    -webkit-appearance:  none; 
    width:  auto;
    min-width:  100px;
    border-radius:  24px; 
    text-align:  center; 
    padding: 1rem 9rem;
    margin-top:  5px; 
    background-color:var(--azul);
    color:#fff; 
    font-size:  14px;
    margin-left:  auto; 
    font-weight:  500; 
    box-shadow:  0px 2px 6px -1px rgba(0,0,0,.13); 
    border:  none;
    transition:  all .3s ease; 
    outline: 0; 
    cursor: pointer;
}
.login-boton:hover{
    background-color:var(--rosado,30%);
    transition: 2s;
}
.login a{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
/*  &:hover {
    transform:  translateY(-3px);
    box-shadow:  0 2px 6px -1px rgba(-var(--moraclaro), .65);
    &:active {
        transform:  scale(.99);
    }
    }*/

    /*
   
    */
    @media (min-width:1502.22px) {
        .main-content { margin: 8rem 17.9rem;}
        .main-content-left {
            width: 30.5rem;}

    }
    @media (min-width:1690px) {
        .main-content {    
            margin: 8rem 20.9rem;
        }
        .main-content-left {
            width: 36rem;}
    }
    @media (min-width:1802.67px) {
        .main-content{
            margin: 8rem 23.9rem;
        }
        .main-content-left {
            width: 37rem;}
    }
    @media (min-width:2028px) {
        .main-content {    
            margin: 8rem 29.9rem;
        }
        .main-content-left {
            width: 39rem;}
    }
    /*más pequeño*/
    @media (max-width:1229.09px){
        .main-content {    
            margin: 8rem 9.9rem;
        }
        .main-content-left {
            width: 30rem;}
    }
    @media (max-width:1081.60px){
        .main-content {    
            margin: 8rem 5.9rem;
            border-radius: 10%;
        }
        .main-content-left {
            width: 28.5rem;
        }
        
    }
    @media (max-width:901.33px){
        .main-content-left {
            width: 17.5rem;}
        .left-botones a {
            margin: 0rem 11rem;}
            .login-contents {
                margin: 0px;
            }
    
    }
    @media (max-width:772.57px){
        .left-botones a {
            margin: 0rem 9rem;}
        .left-boton {
            min-width: 4.8rem;
            font-size: 10px;
        }
        .main-content {
            margin: 8rem 3.9rem;
            border-radius: 11%;
        }
        .main-content-left {
            width: 13.5rem;
        }
    }