
:root{
    --negro:#000;
    --blanco:#fff;
    --transparente-claro:rgba(255, 255, 255, 0.911);
    --transparente-oscuro:rgba(0, 0, 0, 0.11);
    --rosado:#EDA5FF;
    --moraclaro:#CC00FF;
    --moradousuario:#CC01FF;/*boton de usuario*/
    --morapie:#531A87;
    --moraoscuro:#2C0351;/*barra*/
    --moradomezcla:#3f017a;/*home tiene un efecto mezcla */
    --moztarillo:#F3FE01;
    --morainicio-regitro:#602F92;
    --gris:#B0B0B0;
    --conten:#efefef;
    }

.main-content{
    margin-top:85px;
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-gap: 10px;
grid-auto-rows: minmax(100px, auto);
justify-content:space-between;
}
.left {
    grid-column: 1;
    grid-row: 1;

    margin: 0 0 0 10px;
}
.right {
    grid-column: 2 ;
    grid-row: 1;

    margin: 0 15px 0 135px;
    height: 85vh;
    width: auto;

}

.ficha-contenido{    

    width: 100%;
    height: 31rem;
}

.ficha-contenido-encapsulado{

    background-size: cover;
    background-color: white;
}
.ficha-contenido-encapsulado-centro{
    position:absolute;
    width: 55%;
    height: 55%;
    border: 2px solid ;


    text-align: center;
    justify-content: center;
    background-color: var(--conten);
    border-radius: 0 3rem 3rem 3rem;
    box-shadow: 0rem 3rem 1rem #b0b0b040;

    backdrop-filter: blur(0.4rem);
}
.ficha-form{
    position: absolute;
}
.form-inputs{
    display: flex;
    margin:20px;
}
.form-input{    
    position: relative;
    margin-bottom: 1rem;
    width: 100%;
    margin-top: -1rem;}
.form-input input{
    border: none;
    border-bottom: 2px solid blueviolet;
    padding: 9px 2px;
    margin: 2rem 0rem 2rem 0.4rem;
    text-align: center;
    background:transparent;
    width:80%;
}
.form-select{
    margin:0px 10px;
}
.form-select select{
    border-radius: 40px;
    width: 100%;
    position: relative;
    padding: 8px 16px 8px 37px;
    font: 400 15px Arial;
    /* -webkit-appearance: none; */
    /* appearance: none; */
    background: #f37188;
    border: none;
    color: white;
}
.form-chack label{
    font-size:12px;
}
.form-input input{
    border: none;
    border-bottom: 2px solid blueviolet;
    padding: 9px 2px;
    margin: 2rem 0rem 2rem 0.4rem;
    text-align: center;
    background:transparent;
    width:80%;
}
.form-input .otracate{
    display: flex;
    width: 40%;
    margin-top: 3rem;
}
.form-botones{
    display: grid;
    grid-template-columns: max-content;
    justify-content: flex-end;
    text-align: center;
    align-items: center;
    margin: 25px;
}
.form-botones label{
    margin-bottom: 10px;
    color: gray;
    font-size: 18px;
}
.form-botones .form-botones-subir{
    margin-bottom: 40px;
    padding: 1px;
    background: #f37188;
    border: none;
    color: 
    white;
}
.form-botones .form-botones-enviar{
    padding: 8px;
    border: none;
    border-radius: 24px;
    background: #f37188;
    color: white;
    box-shadow: 0px 3px 8px -1px black;
}

.pago-contenido{
    width: 100%;
    height: 31rem;
    margin-top:80px;
}
.pago-contenido-encapsulado{
    background-size: cover;
    background-color: white;
}
.pago-contenido-encapsulado-centro{
    position:absolute;
    width: 55%;
    height: 65%;
    border: 2px solid ;

    margin-top:50px;

    text-align: center;
    justify-content: center;
    background-color: var(--conten);
    border-radius: 0 3rem 3rem 3rem;
    box-shadow: 0rem 3rem 1rem #b0b0b040;

    backdrop-filter: blur(0.4rem);
}
.pago-contenido-datos{
    display: flex;
    justify-content: space-evenly;
}
.pago-contenido-dato{
    display:grid;
}
.pago-form .form-botones{
    justify-content: center;
}
.pago-tipo{
    display: table-caption;
    text-align: initial;
    padding: 2px 2px 0 0;
    margin: 20px 2px 0 0;
}
.pago-tipo button{
    width: 100px;
    text-align: center;
    padding: 3px;
    margin-bottom: 2px;
    border-radius: 0 10px 10px 0;
    border: none;
    background: #f37188;
    color: white;
}
.pago-logo{
    display: flex;
    width: 100%;
    height: 30%;

    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.pago-logo img{
    height: 14rem;
    opacity: 0.5;
}
/*estilos del contenedor derecho  */
.tabla-logo{
    position: absolute;
    z-index: 1;
    align-items: center;
    display: flex;
    height: 100%;
    opacity: 0.2;
    justify-content: center;
    width: 35%;
}

.tabla-contenido{    

width: 100%;
height: 31rem;
}

.tabla-contenido-encapsulado{

background-size: cover;
background-color: white;
}
.tabla-contenido-encapsulado-centro{
position:absolute;
width: 35%;
height: 100%;
border: 2px solid ;


text-align: center;
justify-content: center;
background-color: var(--conten);
border-radius:3rem 0rem 3rem 3rem;
box-shadow: 0rem 3rem 1rem #b0b0b040;

backdrop-filter: blur(0.4rem);
}
.tabla-competidores{
    display: grid;
    margin-top: 10px;
}
.form-input button{
    display: flex;
    margin-top: 35px;
    border: none;
    border-radius: 25px;
    border-bottom: 1px solid black;
    background: var(--rosado);
    color: white;
    padding: 4px;
    cursor: pointer;
}
/*estilos llamadoes en el js de agregar categoria*/
.seleccionadores{
    display: none;
}
.show{
    display: block;
}

.ficha-contenido-encapsulado-centro.altura1{ 
    height: 60%;
}

.ficha-contenido-encapsulado-centro.altura2{
    height: 70%;
}
.ficha-contenido-encapsulado-centro.altura3{
    height: 78%;
}

.mover1{
    margin-top:125px;
}
.mover2{
    margin-top:195px;
}