:root{
    --negro:#000;
    --blanco:#fff;
    --transparente-claro:rgba(255, 255, 255, 0.911);
    --transparente-oscuro:rgba(0, 0, 0, 0.11);
    --rosado:#EDA5FF;
    --moraclaro:#CC00FF;
    --moradousuario:#CC01FF;/*boton de usuario*/
    --morapie:#531A87;
    --moraoscuro:#2C0351;/*barra*/
    --moradomezcla:#3f017a;/*home tiene un efecto mezcla */
    --moztarillo:#F3FE01;
    --morainicio-regitro:#602F92;
    --gris:#B0B0B0;
    --conten:#efefef;
    --arto:#4C0092;
    --valido:#06C63B;

    }
@font-face {
    font-family: Amaranth;
    src: url(../letras/Amaranth-BoldItalic.ttf);
}
@font-face {
    font-family: Bold;
    src: url(../letras/Amaranth-Bold.ttf);
}
@font-face {
    font-family: Basic;
    src: url(../letras/Basic-Regular.ttf);
}
.main-content-contenido{
        width: 100%;
        height: 100%;
        display: grid;
        text-align: center;
        margin-top: 75px;
        justify-content: center;
}
.main-content-contenido h3{
    font-family: 'Amaranth';
    margin: 30px 0;
}
    .main-content-contenido-superior{
        display: flex;
        justify-content: space-between;
        width:100%;
        /* contenedor*/
        background: var(--conten);
        margin: 0 10px;
        height: 100px;
        border-radius: 50px;
        border: 2px solid var(--arto);
        margin-bottom: 25px;
    }
    .superior-contenido{
        display: flex;
        margin: 20px 90px;
        padding: 20px 40px;
    }
    .superior-contenido-izq{
        margin:0 10px;
        font-family: 'Bold';
    }
    .superior-contenido-derecha{
        margin:0 10px;
        font-size: 30px;
    }
    .main-content-contenido-central{
        margin-bottom: 25px;
        justify-content: space-between;
        width:100%;
        /* contenedor*/
        background: var(--conten);
        margin: 0 10px;
        height: 100%;
        border-radius: 50px;
        border: 2px solid var(--arto);
    }
    .central-contenido{
        display: flex;
        justify-content: space-around;
    }
    .central-contenido-superior{
        display:flex;
        margin: 10px 100px;
        padding: 10px 40px;
    }
    .central-contenido-superior-izq{
        margin:0 10px;
        font-family: 'Bold';
    }
    .central-contenido-superior-derecha{
        margin:0 10px;
        font-size: 30px;
    }
    .central-contenido2{
        display: flex;
        justify-content: space-around;
        margin-top:5px;
    }
    .central-contenido-inferior{
        font-family: 'Bold';
        display: grid;
    }
    .central-contenido-inferior input{
        border:none;
        margin-top: 15px;
        border-bottom: 1px solid gray;
        background: transparent;
    }
    .central-contenido-inferior button{
        margin: 15px 20px 0px 20px;
        background:var(--moraclaro) ;
        color:white;
    
    }

    .check button{
        border: none;
        font-size: 30px;
        cursor: pointer;
    }
    
    /*estilos de la parte inferior */
    .main-content-contenido-inferior{
        display: flex;
        justify-content: space-between;
        width:100%;
        /* contenedor*/
        background: var(--conten);
        margin: 0 10px;
        height: 100px;
        border-radius: 50px;
        border: 2px solid var(--arto);
    
        margin-top: 25px;
    }
    .inferior-contenido{
        display: flex;
        margin: 20px 90px;
        padding: 20px 40px;
    }
    .inferior-contenido-izq{
        margin:0 10px;
        font-family: 'Bold';
    }
    .inferior-contenido-derecha{
        margin:0 30px;
        font-size: 30px;
    }

    .central-contenido-logo img{
        height: 14rem;
    }
    /*separando los estilos*/
    .central-contenido-superior-izq a:hover{
        cursor: pointer;
        background-color: var(--rosado);
    }
    /* mis tickets , de un usuario normal */

     .central-contenido2{
        display: none;
        justify-content: space-between;
        width:100%;
        /* contenedor*/
        border-radius: 50px;
        padding: 20px;
    }
    .lista-seleccionada-tabla{
        width: 100%;
        text-align: center;
        border-collapse: collapse;
    }
    .lista-cabecera{
        border-bottom: 2px solid var(--arto);
        border-top: 2px solid var(--arto);
    }
    th,td{
        padding: 10px;
        font-family: 'Basic';
    }
    
    .visual{
        display: flex;
    }
    .grado{
        rotate: 90deg;
    }

.central-contenido-superior-izq button{
    border: none;
    cursor: pointer;
}

/*para validación de tickets*/
.bordeob{
    border-bottom: 2px solid var(--arto);
}

/*para los tickets validados*/

.buscar{
    
}
.buscador{
    border: none;
}
.buscador span{
font-size: 16px;
}
#aprobado{
    margin: 28px 25px;

    
    font-size: 20px;
    background: var(--valido);
    color:var(--blanco);
    border-radius: 10px;
    padding: 10px;

}